<h3>Visited Sites: tells which sites you visited before by checking loading speeds (<%= link_to 'original JS code', 'http://lcamtuf.coredump.cx/cachetime' %>)</h3>

<ol>
  <h4>To Test This:</h4>
  <li>Clear browser cache</li>
  <li>Reload this page</li>
  <li>Open a few sites (like Facebook, Twitter, Time.gov, Google, IRS)</li>
  <li>Click "Check Visited Sites"</li>
</ol>

<ol>
  <h4>If Email Address Already Exists, But You Want to Log In as Different User Anyway:</h4>
  <li>Log into your account that already has same email address</li>
  <li>Click "Edit Profile"</li>
  <li>Click "Cancel My Account"</li>
  <li>Log into the different account you wanted</li>
</ol>

<%= content_tag 'div', id: 'apps', data: {sites: @apps.select(:name, :urls)} do %>
<% end %>

<%= form_tag update_individual_apps_path, method: :put do %>
  <table style="margin: 0px auto;">
    <h4 style="text-align: center;">Check These Sites</h4>
    <tr>
      <th>Name</th>
      <th>URLs</th>
    </tr>

    <% @apps.each do |app| %>
      <%= fields_for 'apps[]', app do |f| %>

        <tr>
          <td>
            <%= f.text_field :name %>
          </td>
          <td>
            <%= f.text_field :urls, size: 60 %>
          </td>
          <td>
            <%= link_to 'Delete', app, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-default' %>
          </td>
        </tr>

      <% end %>
    <% end %>

    <tr>
      <td>
        <%= submit_tag 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Add Site', new_app_path, class: 'btn btn-default' %>
      </td>
    </tr>

  </table>
<% end %>

<br>
<span style="color: steelblue">
The use of script-blocking tools, having unusually slow or unusually fast hardware, or doing computationally expensive work in the background, seem to be the primary reasons for failure.
</span>
<br><br>

<input id=btn type=submit onclick="start_stuff()" value="Check Visited Sites" class="btn btn-primary">
<p>
<h5>The sites you have visited in the past day or so are shown in <font color=green>green</font>; <font color=gray>gray</font> indicates
a site <u>not</u> found in your cache:</h5>

<div id=log class=list>...</div>
<p>
  <iframe id=f name=f height=10 width=200 style="opacity: 0.1" src="about:blank"></iframe>
  <div id=status class=status></div>
<p>
